/.bashrc
/.embedchain
/.env
/.idea
/.ipython
/.lightning_studio
/.vscode
/.zcompdump
/.zshrc
/.condarc
/.config
/.gitconfig
/.hushlogin
/.jupyter
/.local
/.docker
/.oh-my-zsh
/.profile
/.ssh
/.sudo_as_admin_successful